/*
    *********************************
    header start */
@media only screen and (max-width: 1334px) {
    header nav .navbar-nav:first-of-type {
        width: 200px;
        margin-left: 0 !important;
    }

    header nav .navbar-nav:nth-of-type(2) {
        width: 300px;
        margin-right: 0 !important;
    }

    header nav .logo {
        max-width: 120px;
        margin: 0 auto;
    }

    header nav a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1187px) {
    header nav .navbar-brand {
        width: 110px;
        font-size: .8rem;
    }

    header nav .navbar-nav:first-of-type {
        width: 150px;
    }

    header nav .navbar-nav:nth-of-type(2) {
        justify-content: flex-end;
        width: 250px;
    }

    header nav a {
        font-size: .9rem;
    }

    header nav .logo {
        max-width: 100px;
        left: 43%;
        transform: translateX(-43%);
    }

    header nav form input[type="search"] {
        max-width: 150px;
        height: 35px;
    }

    header nav form button {
        margin-left: 5px;
    }
}

@media only screen and (max-width: 991px) {
    header nav .navbar-toggler {
        max-width: 55px;
        height: 50px;
        margin-left: auto;
    }

    header nav .navbar-toggler-icon {
        width: 1em;
        height: 1em;
    }

    header nav .navbar-brand {
        width: 90px;
        height: 30px;
        padding: 0;
        padding-top: 4px;
        padding-left: 4px;
    }

    header nav .navbar-brand::after {
        display: none;
    }

    header nav .logo {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 460px) {
    header nav .logo {
        max-width: 80px;
        top: 1.3rem;
        left: 50%;
        transform: translateX(-50%);
    }

    header nav .nav-link {
        padding: 5px;
    }

    header nav .form-inline {
        margin: 0 !important;
    }

    header nav .form-inline button {
        width: 35px;
        height: 35px;
        padding: 0;
        margin-left: 10px;
    }
}

/*
    *********************************
    header end */
/*
    *********************************
    main start */
@media only screen and (max-width: 1334px) {
    main.container-fluid .main-slide-wrapper {
        min-height: 500px;
    }

    main.container-fluid .main-slide-wrapper figure figcaption {
        font-size: 1.7rem;
        min-width: 300px;
    }
}

@media only screen and (max-width: 1187px) {
    main.container-fluid .main-slide-wrapper {
        min-height: 400px;
    }

    main.container-fluid .main-slide-wrapper figure figcaption {
        font-size: 1.4rem;
        max-width: 350px;
    }

    main.container-fluid .main-slide-wrapper figure figcaption a {
        width: 120px;
        height: 35px;
        padding: 0;
        padding-top: 5px;
        font-size: .9rem;
    }
}

@media only screen and (max-width: 991px) {
    main.container-fluid .main-slide-wrapper {
        min-height: 540px;
    }

    main.container-fluid .main-slide-wrapper figure figcaption {
        font-size: 1.9rem;
        max-width: 500px;
    }

    main.container-fluid .main-slide-wrapper figure figcaption a {
        width: 140px;
        height: 45px;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 884px) {
    main.container-fluid .main-slide-wrapper {
        min-height: 500px;
    }

    main.container-fluid .main-slide-wrapper figure figcaption {
        font-size: 1.6rem;
        max-width: 400px;
    }

    main.container-fluid .main-slide-wrapper figure figcaption a {
        width: 120px;
        height: 35px;
        padding-top: 5px;
    }
}

@media only screen and (max-width: 749px) {
    main.container-fluid .main-slide-wrapper {
        min-height: 400px;
    }

    main.container-fluid .main-slide-wrapper figure figcaption {
        font-size: 1.4rem;
        max-width: 350px;
    }

    main.container-fluid .main-toolbar ul li img {
        width: 25px;
        height: 35px;
    }

    main.container-fluid .main-toolbar ul li span {
        font-size: .8rem;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 659px) {
    main.container-fluid .main-slide-wrapper {
        min-height: 350px;
    }

    main.container-fluid .main-slide-wrapper figure figcaption {
        font-size: 1.3rem;
        max-width: 300px;
    }

    main.container-fluid .main-toolbar {
        min-height: 190px;
    }

    main.container-fluid .main-toolbar ul {
        height: 100%;
        flex-flow: row wrap;
        align-content: stretch;
    }

    main.container-fluid .main-toolbar ul li {
        flex: 1 0 150px;
        padding-top: 10px;
        border-bottom: 1px solid #fff;
    }
}

@media only screen and (max-width: 509px) {
    main.container-fluid .main-slide-wrapper {
        min-height: 300px;
    }

    main.container-fluid .main-slide-wrapper figure figcaption {
        top: 25%;
        text-align: center;
        font-size: 1rem;
    }

    main.container-fluid .main-slide-wrapper figure figcaption a {
        width: 100px;
        height: 30px;
        padding-top: 2px;
        margin: 0 auto;
    }

    main.container-fluid .main-toolbar {
        min-height: 140px;
    }

    main.container-fluid .main-toolbar ul li {
        flex: 1 0 100px;
    }

    main.container-fluid .main-toolbar ul li img {
        width: 20px;
        height: 30px;
    }

    main.container-fluid .main-toolbar ul li span {
        font-size: .7rem;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 404px) {
    main.container-fluid .main-slide-wrapper {
        min-height: 230px;
    }

    main.container-fluid .main-slide-wrapper .arrow-left {
        width: 40px;
        height: 40px;
    }

    main.container-fluid .main-slide-wrapper .arrow-right {
        width: 40px;
        height: 40px;
    }

    main.container-fluid .main-toolbar {
        min-height: 130px;
    }

    main.container-fluid .main-toolbar ul li {
        flex: 1 0 95px;
    }

    main.container-fluid .main-toolbar ul li img {
        width: 15px;
        height: 20px;
    }

    main.container-fluid .main-toolbar ul li span {
        font-size: .6rem;
        margin-top: 2px;
    }
}

/*
    *********************************
    main end */
/*
    *********************************
    section start */
@media only screen and (max-width: 1215px) {
    section.tabs .nav-tabs .nav-link {
        font-size: 1.2rem;
    }

    section.tabs #best-offers .card .wrapper .size .btn {
        width: 40px;
    }
}

@media only screen and (max-width: 1136px) {
    section.tabs #best-offers {
        flex-flow: row wrap;
    }

    section.tabs #best-offers .card {
        width: 33%;
    }

    section.tabs #best-offers .card:nth-of-type(n+1) {
        margin: 0;
        margin-top: 20px;
    }

    section.tabs #best-offers .card .wrapper .size .btn {
        width: 30px;
    }
}

@media only screen and (max-width: 873px) {
    section.tabs #best-offers .card {
        width: 50%;
    }
}

@media only screen and (max-width: 574px) {
    section.tabs #best-offers .card {
        width: 100%;
    }
}

/*
    *********************************
    section end */
